{% extends "base.html" %}
{% block title %}Seznam jmen{% endblock %}
{% block description %}Bla bla bla{% endblock %}

{% block content %}
    <h1>
        {{ title }}
    </h1>

    {% if message %}
        <div class="message">
        {% autoescape false %}
            {{ message }}
        {% endautoescape %}
        </div>
    {% endif %}

    {% if scientists %}
        <ul>
            {% for s in scientists %}
            <li>{{ s.name }} {{ s.surname }} ({{ s.birth_date.year }})</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}